:root {
  --color-blue-very-dark: hsl(217, 19%, 35%);
  --color-blue-desaturated-dark: hsl(214, 17%, 51%);
  --color-blue-grayish: hsl(210, 46%, 95%);
  --background-color-icon: #EEF1F8;
  --background-color-share: #49556B; }

:root {
  --body-font-size: 16px; }

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  font-weight: 500 700;
  font-size: var(--body-font-size); }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

@media screen and (min-width: 660px) {
  .card__imgTitle {
    width: 40%; } }

.card__content {
  padding: 3rem 2rem 1.5rem;
  opacity: 1; }
  @media screen and (min-width: 660px) {
    .card__content {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.card__title {
  color: var(--color-blue-very-dark); }

.card__text {
  margin-bottom: 2rem;
  color: var(--color-blue-desaturated-dark); }

@media screen and (min-width: 660px) {
  .card {
    display: flex; } }

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-blue-very-dark); }
  .card__footer-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%; }
  .card__footer-content {
    display: flex; }
  .card__footer-description {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card__footer p {
    padding: 0;
    margin: 0; }
  .card__footer .icon-share {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--background-color-icon);
    border-radius: 50%;
    z-index: var(--z-tooltip);
    cursor: pointer; }

.card_footer-date {
  color: var(--color-blue-desaturated-dark); }

.card_footer-title {
  font-weight: bold; }

[class*=icon-]::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%; }

.icon-share::before {
  background: url(../images/icon-share.svg);
  background-repeat: no-repeat;
  background-size: contain; }

.card {
  position: relative; }

.card_footer__absolute {
  position: absolute;
  display: flex;
  align-items: center;
  background: var(--background-color-share);
  height: 5.5rem;
  margin-top: -5.5em;
  width: 100%; }
  .card_footer__absolute span {
    margin-left: 2rem; }
  .card_footer__absolute a {
    margin-left: 1.5rem; }
  @media screen and (min-width: 660px) {
    .card_footer__absolute {
      width: 60%;
      right: 0;
      bottom: 0; } }

.card_footer__absolute.close {
  display: none; }
